p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    /*display: inline-block;
    max-width: 100%;
    width: 100%;*/
    font-family: Arial,Helvetica,sans-serif;
}

video {
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    max-width: 100%;
}


/* create_annotation_dialog.css start */

#draggable {
    float: right;
    width: 760px;
    height: 165px;
    padding: 0.01em;
    margin: 10px 10px 10px 0;
    border: 1px solid white;
    border-radius: 6px;
    background-color: black;
    opacity: 0.5;
}


.center { 
    position: fixed; 
    top: 8%; 
    left: 20%; 
    margin-top: -100px; 
    margin-left: -100px; 
} 

.dialog-title {
    color: white;
    opacity: 1; 
    line-height: 2;
    font-family: Arial,Helvetica,sans-serif;
    margin-left: 8px;
}


/* Vertical Tabs ----------------------------------*/
.ui-tabs-vertical_didntuse { width: 55em; }
.ui-tabs-vertical_didntuse .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical_didntuse .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical_didntuse .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical_didntuse .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical_didntuse .ui-tabs-panel { padding: 1em; float: right; width: 40em;}


/** vertical tab start */
/* ref: https://www.tjvantoll.com/2012/11/08/creating-a-polished-vertical-tabs-interaction-with-jquery-ui/ */
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 99%;
    /* border: 2px solid red;*/
    background-color: black !important;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
border1: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
float: left;
width: 12%;
background: black;
border-radius: 4px 0 0 4px;
border-right: 1px solid gray;
padding: .2em .2em .2em .2em !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
clear: left;
width: 100%;
/* margin: 0.2em 0;*/
margin: 0px !important;
/* border: 1px solid gray; */
border-width: 1px 0 1px 1px;
border-radius: 4px 0 0 4px;
overflow: hidden;
position: relative;
right: -2px;
z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
display: block;
width: 100%;
padding: .4em 1em !important; 
/* padding: 0.6em 1em; */
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
margin-bottom: 0.1em;
padding-bottom: 0;
border-right: 1px solid black;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
margin-bottom: 5px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
float: left;
width: 28em;
border-left: 1px solid gray;
border-radius: 0;
position: relative;
left: -1px;
}

/** vertical tab end */


#start_tab, #body_tab, #stop_tab {
margin-top: 1px;
height: 78px;
width: 380px;
background-color: black;
/* border: solid gray; */
border-top: 1px solid gray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
border-left: none;
border-radius: 0px 4px 4px 0px;
color: white;
}

.button_panel {
    float: right;
    margin-right: 55px;
    margin-top: 5px;
}

.button_panel button {
  line-height: 1.3;
  height: 30px;
}   

/* create_annotation_dialog.css end */