// Container for the whole app
.waldorf-container {
    //position: relative !important;
    height: auto !important;
    display: inline-block !important;
    //max-width: 100% !important;
}

// Overlay that holds all the polygons
.waldorf-video-overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $base-z + 7;
    pointer-events: none;

    @if ($debug){
        background-color: rgba(221, 121, 121, 0.3);
    }

    // Polygon styling
    .waldorf-overlay-poly {
        position: absolute;
        background-color: rgba(0, 118, 255, 0.55);
        width: 100%;
        height: 100%;
        pointer-events: all;
    }
}

// Overlay that holds the polygon editor (minus the toolbar)
.waldorf-edit-overlay{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: $base-z + 8;
    pointer-events: none;

    //@if ($debug){
        background-color: rgba(121, 221, 121, 0.3);
    //}

    // Editor polygon lives next to the overlay
    + .waldorf-edit-poly {
        position: absolute;
        background-color: rgba(255, 118, 0, 0.55);
        width: 100%;
        height: 100%;
        z-index: $base-z + 9;
        pointer-events: none;
        //mix-blend-mode: overlay;
        //background-blend-mode: overlay;
    }

    // Editor polygon lives next to the overlay same as overlay
    // + .waldorf-start-poly {
    //     position: absolute;
    //     background-color: rgba(224, 133, 41, 0.55);
    //     width: 100%;
    //     height: 100%;
    //     z-index: $base-z + 10;
    //     pointer-events: none;
    //     //mix-blend-mode: overlay;
    //     //background-blend-mode: overlay;
    // }
}

.waldorf-start-poly, .waldorf-stop-poly {
    position: absolute;
    background-color: rgba(14, 247, 65, 0.445);
    width: 100%;
    height: 100%;
    z-index: $base-z + 10;
    pointer-events: none;
    //mix-blend-mode: overlay;
    //background-blend-mode: overlay;
}

.waldorf-stop-poly{
    background-color: rgba(247, 14, 84, 0.445);
}

.waldorf-tickbar {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 5px;
    top: -15px;
    left: 0;
    //pointer-events: none;
    
    background-color: rgba(0, 0, 0, 0);

    @if ($debug){
        background-color: rgba(255, 0, 0, 255);
    }

    .waldorf-tickbar-tick {
        position: absolute;
        width: 2px;
        height: 100%;
        opacity: 0.75;
        
        background-color: rgba(0, 255, 49, 0.78);
    }
}

.waldorf-info {
    position: relative;
    background-color: rgba(121, 121, 221, 0.3);
    width: 100%;
    //height: auto;
    min-height: 15em;
    max-height: 15em;
    padding:4px 0px 16px 0px;
    overflow-y: scroll;

    p {
        margin: 0px;
        padding: 10px 10px 0px 10px;
        line-height: 150%;
    }
}

.waldorf-debug-controls {
    position:relative;
    background-color: rgba(121, 221, 121, 0.3);
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        margin: 5px 5px 5px 5px;
    }


}


// POST interface

.waldorf-vp-post {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 1;
/*    height: 30px;*/
	transition: opacity .3s;
    background-color: rgba(52, 52, 52, 0.67);
    cursor: default;
    z-index: $base-z + 20;

    .ui-field-contain {
        padding-left: 5px;
        padding-right: 5px;
    }

    textarea {
        $top_offset: 0px;
        height: 25px - $top_offset;
        resize: vertical;
        padding-top: 5px + $top_offset;
        //padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        //padding: 0px;
        font: menu;
        font-size: 16px;
    }

    label {
        font-family: Verdana, Geneva, sans-serif;
        color: #ffffff;
        user-select: none;
        font-size: 0.8em;
        padding-right: 5px;
    }

    input {
        font-size: 0.8em;
    }

}

.waldorf-vp-click-surface {
    z-index: $base-z + 8;
    pointer-events: auto;
    // box-shadow: inset 0 0 0px 1px rgb(255, 0, 0);
    // background-color: #FFF; //Should be invisible.

    .breadcrumb {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #ccc;
        // background: rgba(204, 204, 204, 0);
        border: 1px solid #000;
        margin: 0px;
        padding: 0px;
    }
}

// Gives a button a 2-color Material kind of look
@mixin accent-button($fg-color, $bg-color) {
    border-color: $bg-color;
    background-color: $bg-color;
    color: $fg-color;

    &:hover {
        color: $bg-color;
    }
}

.waldorf-cancel-button {
    @include accent-button(#FFFFFF, #F44336);
}

.waldorf-confirm-button {
    @include accent-button(#FFFFFF, #8BC34A);
}

.waldorf-message-overlay {
    background-color: rgba(52, 52, 52, 0.95);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    z-index: $base-z + 100;
    pointer-events: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        color: white;
        font: menu;

        display: inline-block;
        position: relative;
        text-align: center;
        margin: 15px;
    }
}

.waldorf-message-overlay-error {
    background-color: rgba(255, 30, 30, 0.95);
}

/* create_annotation_dialog.css start */

#create-dialog {
    float: right;
    width: 710px;
    padding: 0.01em;
    margin: 10px 10px 10px 0;
    border: 1px solid white;
    border-radius: 6px;
    background-color: black;
    // opacity: 0.7 !important;
}


.center { 
    position: fixed; 
    top: 8%; 
    left: 20%; 
    margin-top: -100px; 
    margin-left: -100px; 
} 

.dialog-title {
    color: white;
    opacity: 0.7; 
    line-height: 2;
    font-family: Arial,Helvetica,sans-serif;
    margin-left: 8px;
}




/** vertical tab start */
/* ref: https://www.tjvantoll.com/2012/11/08/creating-a-polished-vertical-tabs-interaction-with-jquery-ui/ */
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 99%;
    /* border: 2px solid red;*/
    background-color: black !important;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {

}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 12%;
    background: black;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
    padding: .2em .2em .2em .2em !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    /* margin: 0.2em 0;*/
    margin: 0px !important;
    /* border: 1px solid gray; */
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: .4em 1em !important; 
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.1em;
    padding-bottom: 0;
    border-right: 1px solid black;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 5px;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

/** vertical tab end */


#start_tab, #body_tab, #stop_tab {
    margin-top: 1px;
    height: 78px;
    width: 58%;
    background-color: black;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    color: white;
}

.button_panel {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    width: 20%;
    text-align: center;
}

.button_panel button {
  height: 30px;
  margin: 3px auto;
  width: 80%;
}

#delete_annotation_button{
    background-color: rgb(255, 140, 140);
    border: 1px solid red;
}

/* create_annotation_dialog.css end */

/* edit polygon dialog.css start */

#edit-dialog {
    float: right;
    width: 45px;
    height: 150px;
    // padding: 0.01em;
    /*margin: 10px 10px 10px 0; */
    border: 1px solid white;
    border-radius: 6px;
    background-color: black;
    opacity: 0.6 !important;
    position: absolute;
    top: 40%;
    left: 80%;
}

/* edit polygon dialog.css end */